/*This css sheet defines all the styles and layout of the status post website */

/* set header style */
.header {
  color: white;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: DarkSalmon;
  margin-bottom: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* NAVIGATION BAR
set background color of navigation bar */
.navbar {
  background-color: black;
  overflow: hidden;
}

/*set links style inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* set colour change of links on hover */
.navbar a:hover {
  background-color: #faf0e6;
  color: black;
}

/*set colour to the active/current link */
.navbar a.active {
  background-color: #faf0e6;
  color: black;
}

/*website content */
.content {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  font-size: medium;
  text-align: left;
}

/*set footer style*/
.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  font-size: medium;
  text-align: right;
}

/*when user hovers the textfield in post status form*/
.hide {
  display: none;
}
.inputdata:hover + .hide {
  display: block;
  color: red;
  font-size: small;
}
