/*This css sheet defines all the styles and layout of the status post website */

/* set header style */
.header {
  color: white;
  padding: 2px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: DarkSalmon;
  margin-bottom: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* NAVIGATION BAR
set background color of navigation bar */
.navbar {
  background-color: black;
  overflow: hidden;
  /*added for center navbar*/
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*added for center navbar*/
.navbar li {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
}

/*set links style inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* set colour change of links on hover */
.navbar a:hover {
  background-color: #faf0e6;
  color: black;
}

/*set colour to the active/current link */
.navbar a.active {
  background-color: #faf0e6;
  color: black;
}

/*website content */
.content {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  font-size: medium;
  text-align: left;
}

/*set footer style*/
.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  font-size: medium;
  text-align: right;
}

/*when user hovers the textfield in post status form*/
.hide {
  display: none;
}
.inputdata:hover + .hide {
  display: block;
  color: red;
  font-size: small;
}

/*set accordion(collapsible content)style in about page*/
.question {
  background-color: #f4cabc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/*set background colour change when user clicks on the button or hover the mouse over it*/
.button-active,
.question:hover {
  background-color: #e9967a;
}

/*set the "plus" sign (+) as default of the button*/
.question:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/*set the for "minus" sign (-) when button is clicked on and content is displayed*/
.button-active:after {
  content: "\2212";
}

/*set the accordion panel style. Note: hidden by default */
.panel {
  padding: 1em;
  display: none;
  background-color: white;
  overflow: hidden;
  line-height: 1.5;
}
